* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #d7d4e4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #fff;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    float: right;
    margin: 60px 150px;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    transition: 0.3s;
}
nav ul li a {
    text-decoration: none;
    color: #efeef5;
    transition: 0.5;
    font-size: 30px;
    margin-left: 16px;
}
nav ul li:hover a {
    text-decoration: none;
    color: #591bc5;
}
nav ul li:hover {
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
    background: #efeef5;
    text-decoration: none;
    transform: skew(15deg);
}
/* Logo */
.logo {
    margin: 40px 63px;
    float: left;
}
.logo img {
    height: 200px;
}
/* Header content & title & button*/
.header-content {
    margin-top: 15%;
    text-align: center;
    color: #efeef5;
}
.header-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}
.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}
.header-content button {
    width: 140px;
    margin: 20px 10px;
    color: #591bc5;
    font-size: 17px;
    border: 1px solid #efeef5;
    font-weight: 500;
    background: #efeef5;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.header-content button:hover {
    border-radius: 0;
}


/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
